In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
matplotlib.rcParams['figure.figsize'] = (10,20)

In [4]:
df = pd.read_csv('../CSV_files/bengaluru_house_prices.csv')

In [5]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [6]:
df.shape

(13320, 9)

In [7]:
df1 = df.drop(['availability', 'society', 'area_type'], axis='columns')

In [8]:
df1.head()

                   location       size total_sqft  bath  balcony   price
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00

In [9]:
df1.isnull().sum()

location        1
size           16
total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [10]:
df1.loc[df['balcony']==0].head()

        location       size   total_sqft  bath  balcony   price
24   Thanisandra       1 RK          510   1.0      0.0   25.25
30     Yelahanka      4 BHK  2100 - 2850   4.0      0.0  186.00
42   Ganga Nagar      1 BHK          600   1.0      0.0   38.00
43     Yelahanka  1 Bedroom          660   1.0      0.0   48.00
46  Doddathoguru      2 BHK          970   2.0      0.0   33.00

In [11]:
balconyMid = df1.balcony.mean()
balconyMid

1.5843757375501535

In [12]:
int(609*0.58)

353

In [13]:
counter=353
for index, boolian in enumerate(df1.isnull()['balcony']) :
    if boolian==True :
        if counter>353:
            df1['balcony'][index] = 2.0
        else :
            df1['balcony'][index] = 1.0

In [14]:
df1.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
balcony        0
price          0
dtype: int64

In [15]:
df1.dropna(inplace=True)

In [16]:
df1.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [17]:
df1['bhk'] = df1['size'].apply(lambda x: int(x.split(' ')[0]))
df1.bhk.unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [18]:
df1.head(7)

                   location       size total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00    2
5                Whitefield      2 BHK       1170   2.0      1.0   38.00    2
6          Old Airport Road      4 BHK       2732   4.0      1.0  204.00    4

In [19]:
df1['bhk'].isnull().sum()

0

In [20]:
df1['balcony'].mean()

1.5606975690774574

In [21]:
df2 = df1.copy()

In [22]:
df2.shape

(13246, 7)

In [23]:
mids = []
for i in df2['total_sqft']:
    if len(i.split('-'))==2:
        mids.append((float(i.split('-')[0])+float(i.split('-')[1]))/2)
        continue
    try:
        mids.append(float(i))
    except:
        mids.append(None)

In [24]:
len(mids)

13246

In [25]:
len(df2['total_sqft'])

13246

In [26]:
df2['total_sqft'] = mids

In [27]:
df2.head(10)

                   location       size  total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0      1.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0      1.0   51.00    2
5                Whitefield      2 BHK      1170.0   2.0      1.0   38.00    2
6          Old Airport Road      4 BHK      2732.0   4.0      1.0  204.00    4
7              Rajaji Nagar      4 BHK      3300.0   4.0      1.0  600.00    4
8              Marathahalli      3 BHK      1310.0   3.0      1.0   63.25    3
9              Gandhi Bazar  6 Bedroom      1020.0   6.0      1.0  370.00    6

In [29]:
df3 = df2.copy()
df3['price_per_sqft'] = df3['price']*100000/df3['total_sqft']
df3.head()

,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000

In [31]:
df3.to_csv('States/first_state')